/* fix scroll issue */
.yui-skin-cstudioTheme {
  height: auto;
}

/* position container under topbar */
#graph-container {
    margin-top: 51px;
    height: calc( 100vh - 51px );
}

#graph-container .doc-explorer-title-bar,
#graph-container .history-title-bar {
    height: 47px;
}
