/.git
*.ignore.*
build
node_modules

# Legacy
/ui/models
/ui/utils
/ui/services
/scripts/*
/ui/app/public/*
/ui/app/build
/ui/app/build_tsc
/ui/guest/build
/ui/guest/build_tsc
/static-assets/libs/ace/*
/static-assets/components/cstudio-common/amplify-core.js
/static-assets/components/cstudio-common/heatmap-support.js
/static-assets/components/cstudio-preview-tools/mods/annotate
/static-assets/components/cstudio-admin/mods/encrypt-tool.js
/static-assets/components/cstudio-admin/mods/content-type-propsheet/contentTypes.js
/static-assets/components/cstudio-admin/mods/content-type-propsheet/content-path-input.js
/static-assets/components/cstudio-forms/controls/locale-selector.js
/static-assets/components/cstudio-forms/data-sources/dropTargets.js
/static-assets/libs/*
/static-assets/js/*
/static-assets/modules/*
/static-assets/next/*
/static-assets/scripts/craftercms-guest.umd.js
/static-assets/scripts/craftercms-xb.umd.js
/static-assets/scripts/preview-landing.umd.js
/static-assets/yui/*
/static-assets/jquery/*

/ui/legacy/babel.config.js
/ui/scss/scripts/*
/ui/uppy/types/*
