/.git
*.ignore.*
build
node_modules

# Legacy
/ui/models
/ui/utils
/ui/services
/scripts/*
/ui/app/public/*
/static-assets/components/cstudio-common/ace/*
/static-assets/components/cstudio-common/amplify-core.js
/static-assets/components/cstudio-common/heatmap-support.js
/static-assets/libs/*
/static-assets/js/*
/static-assets/modules/*
/static-assets/next/*
/static-assets/scripts/craftercms-guest.umd.js
/static-assets/scripts/preview-landing.umd.js
/static-assets/yui/*
/static-assets/jquery/*

/ui/legacy/babel.config.js
/ui/scss/scripts/*
