# IntelliJ
.idea

#Vscode
.vscode

# sass
.sass-cache

# node
node_modules
build

# builds
static-assets/next
static-assets/styles/guest.css
static-assets/styles/main.css
static-assets/styles/search.css
static-assets/styles/temp.css
static-assets/styles/forms-engine.css
static-assets/styles/browse.css
static-assets/styles/graphiql.css
static-assets/styles/tinymce-ace.css
templates/web/common/js-next-scripts.ftl
static-assets/scripts/craftercms-guest.umd.js
static-assets/scripts/preview-landing.umd.js
ui/app/public/craftercms-guest.umd.js
ui/app/public/preview-landing.umd.js
ui/guest/dist/




# misc
*.ignore.*
link.sh

ui/app/.env.development

# Ignore irrelevant generated translation system files
ui/app/src/translations/src
ui/app/src/translations/whitelists
