@import "../variables";

$icon-font-path: '../libs/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "../util/util";

@import "type";
@import "layout";
@import "navbar";

@import "views";

.modal-backdrop {
    height: 100%;
    background-color: #444;
}

.login-view,
.recover-view {

    .pad {
        padding: 20px;
    }

    h2 {
        margin-top: 0;
    }

  .alert {
    padding: 7px 15px;
  }

}

.settings-view, .about-us-view{
  .row{
    padding: 0 25px;
  }
}

.about-us-view{
  .studio-info {
    overflow: hidden;
    max-width: 530px;
    margin: 50px auto 0;
    padding: 30px 2%;

    #studio-logo{
      display: block;
      float: left;
      width: 22%;
    }
    #studio-data{
      float: left;
      padding-left: 4%;
      width: 78%;
    }

  }
}

.panel {

    .alert {
        margin: 0;
        border: 0;
        border-radius: 0;
    }

}

.user-display {

    padding: 0 20px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;

    .name {
        font-size: 1.5em;
    }

    #language{
      width: 42%;
      display: inline-block;
      margin-top: 20px;
      max-width: 370px;
    }

}

small {
    .text-sm {
        font-size: 40%;
    }
}

.site-list{
  a {
    color: #4F81A0;
  }
  .remove a .fa {
    font-size: 14px;
  }
}

i.fa{
  font-size: 16px;
}

.glyphicon-info-sign:before {
  content: "\e086";
}

.reset-password-view {
  .password-requirements{
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

.cstudio-spinner {
  display: inline-block !important;
  width: 15px;
  height: 15px;
  background: url("/studio/static-assets/themes/cstudioTheme/images/treeview-loading.gif") no-repeat;
  background-size: 100% 100%;
  margin-right: 5px;
  margin-bottom: -2px;
}

@media only screen and (max-width: 460px) {
  .about-us-view{
    .studio-info {
      #studio-logo{
        display: none;
      }
    }
  }
}

.nav-link .nav-icon {
  font-size: 16px;
  margin-right: 2px;
  color: #7e9dbb;
}

.nav-link .nav-label {
  display: none;
}

.nav-label-hover
{
  display: inline-block;

  -webkit-animation: fadeInFromNone 1s ease-out;
  -moz-animation: fadeInFromNone 1s ease-out;
  -o-animation: fadeInFromNone 1s ease-out;
  animation: fadeInFromNone 1s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    display: inline-block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    display: inline-block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    display: inline-block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    display: inline-block;
    opacity: 1;
  }
}
