$dark-mode-background-default: #212121;
$dark-mode-background-default-dimmed: #21212150;
$dark-mode-background-paper: #424242;
$dark-mode-font-color: #fff;
$dark-mode-font-color-secondary: rgba(255, 255, 255, 0.5);
$dark-mode-font-highlight: #70d7ff;
$dark-mode-button-outlined-border: rgba(255, 255, 255, 0.23);
$dark-mode-button-primary: #409cff;
$dark-mode-button-primary-color: rgba(0, 0, 0, 0.87);
$dark-mode-button-primary-color-hover: rgb(44, 109, 178);
$dark-mode-hover: rgba(255, 255, 255, 0.08);
$dark-mode-divider: rgba(255, 255, 255, 0.12);
$dark-mode-input-border: #ced4da;
$dark-mode-input-border-focus: #007aff;

@media (prefers-color-scheme: light) {
  .craftercms-logo-dark {
    display: none !important;
  }
  .user-dashboard,
  .cstudio-form-controls-container,
  .template-editor-button-container {
    background: white;
  }

  .about-us-view {
    .studio-info {
      .studio-logo.dark {
        display: none;
      }
    }
  }

  .craftercms-entitlement {
    .craftercms-entitlement-logo {
      &.dark {
        display: none;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .user-dashboard,
  .cstudio-form-controls-container,
  .template-editor-button-container {
    background: $dark-mode-background-paper;
  }
  #studioBar {
    & > .navbar-fixed-top {
      color: $dark-mode-font-color;
      background-color: $dark-mode-background-default;

      #navbar-site-name {
        color: $dark-mode-font-color;
      }

      #activeContentActions {
        .acn-link a,
        .context-nav-title-element {
          color: $dark-mode-font-color;
        }
      }

      #activeContentActions,
      #menuBundleButton {
        border-color: transparent;
      }
    }
  }
  .cstudio-navbar {
    color: $dark-mode-font-color;
    background-color: $dark-mode-background-default;
  }

  .site-dashboard-body {
    background-color: $dark-mode-background-default !important;
    .iconName {
      color: $dark-mode-font-color !important;
    }
  }

  .form-engine-body {
    background-color: $dark-mode-background-default;
    .cstudio-form-field-title,
    .cstudio-form-control-node-selector-item {
      color: $dark-mode-font-color;
    }
    .cstudio-form-control-node-selector-items-container,
    .cstudio-form-control-node-selector-options,
    .tox .tox-edit-area__iframe {
      background: none;
    }
    .cstudio-form-control-node-selector-item {
      background: none !important;
    }
    .cstudio-form-control-input-container.focused {
      outline: 0;
      box-shadow: #007aff40 0 0 0 0.2rem;
      border-color: $dark-mode-input-border-focus;
    }
    .cstudio-form-control-input-container.disabled {
      background: none;
      opacity: 0.5;
    }
    .cstudio-form-control-input-container .cstudio-form-control-file-name {
      outline: 0;
      border: 0;
      box-shadow: none;
    }
    .cstudio-form-control-dropdown {
      background-color: $dark-mode-background-paper;
    }
  }

  header .page-header {
    background-color: $dark-mode-background-default;
    .header,
    .name {
      color: $dark-mode-font-color;
    }
  }

  .admin-view {
    .create-user-helper-text {
      color: $dark-mode-font-color;
    }
  }

  // Modals
  .modal-content {
    background: $dark-mode-background-paper;
    .modal-title {
      color: $dark-mode-font-color;
    }
    .modal-body {
      color: $dark-mode-font-color;
    }
  }

  // Panels
  #ice-body,
  .panel-heading,
  .panel-default {
    background: $dark-mode-background-paper !important;
    color: $dark-mode-font-color !important;
  }
  .panel-title {
    color: $dark-mode-font-color !important;
  }

  // Typography

  p,
  label {
    color: $dark-mode-font-color;
  }

  a {
    color: $dark-mode-button-primary;
    &:hover {
      color: $dark-mode-button-primary;
    }
  }

  // Buttons

  .btn-primary {
    border: 0;
    color: $dark-mode-button-primary-color;
    background: $dark-mode-button-primary;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .btn-primary:hover {
    background: $dark-mode-button-primary-color-hover;
  }

  .btn-default,
  .btn-transparent {
    border: 1px solid $dark-mode-button-outlined-border !important;
    color: $dark-mode-font-color !important;
    background: none !important;
  }
  .btn-default[disabled] {
    background: none !important;
  }

  .btn-default:hover,
  .btn-transparent:hover {
    color: $dark-mode-font-color;
    background: $dark-mode-hover !important;
  }

  // Table

  .table {
    th,
    td {
      color: $dark-mode-font-color;
      border-color: $dark-mode-divider;
    }
  }

  .table-striped {
    tr {
      background: none !important;
    }
  }

  .table-hover {
    tr:hover {
      background-color: $dark-mode-hover !important;
    }
  }

  // Pagination

  .global-menu-pagination-wrapper {
    .pagination {
      a {
        border-color: $dark-mode-divider;
        color: $dark-mode-font-color;
        background: none;
      }
      a:hover {
        border-color: $dark-mode-divider;
        color: $dark-mode-font-color;
        background: $dark-mode-hover;
      }
      a:focus {
        background: none;
      }
      .active a {
        background: $dark-mode-button-primary;
      }
    }
  }

  // Inputs
  input[disabled] {
    background: none;
    color: $dark-mode-font-color-secondary;
  }
  input,
  select,
  textarea,
  .form-control,
  .cstudio-form-repeat-container {
    border-color: $dark-mode-input-border;
    background: none;
    color: $dark-mode-font-color;
    &:focus {
      outline: 0;
      box-shadow: #007aff40 0 0 0 0.2rem;
      border-color: $dark-mode-input-border-focus;
    }
  }

  .admin-console-view {
    .screen-title,
    .screen-title h1 {
      color: $dark-mode-font-color;
      background: none;
      border-color: $dark-mode-divider;
    }
    .global-menu--item__active {
      .global-menu--item-link {
        background: $dark-mode-background-default;
        color: $dark-mode-font-color;
        .global-menu--nav-icon {
          background: none;
          color: $dark-mode-font-color;
        }
      }
      .global-menu--item-link:hover,
      .global-menu--item-link:focus {
        color: $dark-mode-font-color;
        background: $dark-mode-background-default !important;
      }
    }
    .global-menu--item-link {
      color: $dark-mode-font-color;
    }

    .global-menu--item-link:hover,
    .global-menu--item-link:focus {
      color: $dark-mode-font-color;
      background-color: $dark-mode-hover !important;
    }

    .divider {
      border-color: $dark-mode-divider;
    }
  }

  #categories-panel {
    background-color: $dark-mode-background-paper !important;
    color: $dark-mode-font-color;
    border-color: $dark-mode-background-default-dimmed !important;

    .cstudio-admin-console-item-selected {
      background-color: rgba(0, 0, 0, 0.08);
      color: $dark-mode-font-color;
    }
  }

  body:not(.user-dashboard) .craftercms-entitlement {
    border-color: $dark-mode-background-default-dimmed !important;
    .craftercms-entitlement-copy {
      &,
      a {
        color: $dark-mode-font-color;
      }
    }
  }

  #acn-dropdown-menu-wrapper {
    background-color: $dark-mode-background-paper;
    border-color: $dark-mode-background-default-dimmed;

    .sidebar-module-legacy--with-divider {
      border-color: $dark-mode-background-default-dimmed;
    }

    #acn-sites-link,
    .acn-parent-folder,
    .acn-admin-console,
    .ygtvcell {
      color: $dark-mode-font-color;
    }

    .preview {
      color: $dark-mode-font-highlight;
    }

    #acn-dropdown-menu-inner {
      .no-preview,
      .folder {
        color: $dark-mode-font-color !important;
      }
    }

    .ygtv-highlight0:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  .cs-item-icon.icon-container .studio-fa-stack-2x {
    color: $dark-mode-font-color !important;
  }

  .craftercms-logo {
    display: none !important;
  }

  .craftercms-entitlement {
    .craftercms-entitlement-logo {
      display: none !important;
      &.dark {
        display: inline !important;
      }
    }
  }

  #preview-tools-panel-container {
    background-color: $dark-mode-background-paper !important;
    color: $dark-mode-font-color;

    .hd,
    .acn-accordion-header {
      background-color: $dark-mode-background-paper !important;
      color: $dark-mode-font-color !important;
      border: none !important;

      .acn-accordion-toggle {
        color: $dark-mode-font-color !important;
      }
    }

    button,
    select,
    input {
      background-color: $dark-mode-background-paper;
      color: $dark-mode-font-color;
      border: 1px solid $dark-mode-font-color;
    }
  }

  #cstudioPreviewTargetingOverlay {
    background-color: $dark-mode-background-paper !important;
    color: $dark-mode-font-color;

    select,
    input {
      background-color: $dark-mode-background-paper !important;
    }

    .fa {
      color: $dark-mode-font-color !important;
    }
  }

  #status-dialog_c {
    background-color: transparent !important;
    #status-dialog {
      background-color: transparent !important;
      border: none;

      .hd,
      .bd,
      .ft,
      .yui-button,
      .yui-button span {
        color: $dark-mode-font-color;
        background-color: $dark-mode-background-paper !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: $dark-mode-background-default-dimmed;
      }
    }
  }

  // logs view
  .log-details-view {
    color: $dark-mode-font-color;
  }

  // audit view
  .audit-view {
    .well {
      background-color: $dark-mode-background-default;
      border: 0;
    }
    .plus,
    .minus {
      color: $dark-mode-font-color;
    }
    .date-container {
      .date-icon {
        color: $dark-mode-font-color !important;
        background: none !important;
      }
    }
    .audit-table-container .each-param {
      background-color: $dark-mode-background-default !important;
    }
    .nav-containers {
      color: $dark-mode-font-color;
    }
  }

  // groups view
  .groups-view {
    .page-header {
      color: $dark-mode-font-color;
      .close {
        color: white;
        text-shadow: none;
        opacity: 1;
      }
    }
    h3 {
      color: $dark-mode-font-color;
    }
  }

  // about-us-view
  .about-us-view {
    h1 {
      color: $dark-mode-font-color;
    }
    .well {
      background-color: $dark-mode-background-default;
      border: 0;
    }
    .studio-info {
      .studio-logo {
        display: none !important;
      }
      .studio-logo.dark {
        display: block !important;
      }
    }
  }

  // settings-view
  .settings-view {
    h1,
    h2,
    .name,
    .email {
      color: $dark-mode-font-color;
    }
    .well {
      background-color: $dark-mode-background-default;
      border: 0;
    }
  }

  // sites-view
  .sites-view {
    .site-name {
      pre {
        color: $dark-mode-font-color;
      }
    }
  }

  // publishing-view
  .publishing-view {
    h2,
    h3 {
      color: $dark-mode-font-color;
    }
    .panel {
      border: 0;
    }
    .panel-body {
      background-color: $dark-mode-background-default;
    }
    .nav-tabs {
      li > a {
        border: 0;
      }
      li > a:hover,
      li.active > a {
        color: $dark-mode-font-color;
        background: $dark-mode-hover;
        border: 0;
      }
      tab-heading {
        color: $dark-mode-font-color;
      }
    }
  }

  // repositories
  .repositories {
    h2 {
      color: $dark-mode-font-color;
    }
  }

  // Global config
  .mainContainer {
    .screen-title,
    .screen-title h1 {
      color: $dark-mode-font-color;
      background: none;
      border-color: $dark-mode-divider;
    }
    .divider {
      border-color: $dark-mode-divider;
    }
  }

  // Global Menu
  a.MuiListItem-button {
    color: inherit !important;
    outline: none;
  }
  a.MuiLink-underlineNone {
    text-decoration: none !important;
  }

  // cstudio-admin-console-workarea-container
  .cstudio-admin-console-workarea-container {
    height: calc(100vh - 53px);
    background-color: $dark-mode-background-paper;
    margin-top: -2px;
    h1 {
      color: $dark-mode-font-color;
    }
  }

  // workflow states
  #statesTable {
    .cs-statelist-heading a {
      color: $dark-mode-button-primary;
    }
  }

  // form engine
  .cstudio-form-control-asset-picker-preview-block {
    background: none;
  }

  // diff view
  .yui-skin-cstudioTheme.skin-diff {
    color: $dark-mode-font-color;

    span.diff-html-removed {
      background-color: #f24d4d;
    }

    span.diff-html-added {
      background-color: #00a400;
    }
  }
}
