
$dark-mode-background-default: #212121;
$dark-mode-background-default-dimmed: #21212150;
$dark-mode-background-paper: #424242;
$dark-mode-font-color: #fff;
$dark-mode-font-highlight: #70D7FF;

@media (prefers-color-scheme: light) {
  .craftercms-logo-dark {
    display: none !important;
  }
  .cstudio-form-controls-container {
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  .cstudio-form-controls-container {
    background: $dark-mode-background-paper;
  }
  #studioBar {
    &> .navbar-fixed-top {
      color: $dark-mode-font-color;
      background-color: $dark-mode-background-default;

      #navbar-site-name {
        color: $dark-mode-font-color;
      }

      #activeContentActions {
        .acn-link a, .context-nav-title-element{
          color: $dark-mode-font-color;
        }
      }

      #activeContentActions, #toolbarGlobalNav {
        border-color: transparent;
      }
    }
  }
  .cstudio-navbar {
    color: $dark-mode-font-color;
    background-color: $dark-mode-background-default;
  }

  #categories-panel {
    background-color: $dark-mode-background-paper !important;
    color: $dark-mode-font-color;
    border-color: $dark-mode-background-default-dimmed !important;

    .cstudio-admin-console-item-selected {
      background-color: rgba(0, 0, 0, 0.08);
      color: $dark-mode-font-color;
    }
  }

  body:not(.user-dashboard) .craftercms-entitlement {
    border-color: $dark-mode-background-default-dimmed !important;
    .craftercms-entitlement-copy {
      &, a {
        color: $dark-mode-font-color;
      }
    }
  }

  #acn-dropdown-menu-wrapper {
    background-color: $dark-mode-background-paper;
    border-color: $dark-mode-background-default-dimmed;

    .sidebar-module-legacy--with-divider {
      border-color: $dark-mode-background-default-dimmed;
    }

    #acn-sites-link, .acn-parent-folder, .acn-admin-console, .ygtvcell {
      color: $dark-mode-font-color;
    }

    .preview {
      color: $dark-mode-font-highlight;
    }

    #acn-dropdown-menu-inner {
      .no-preview, .folder {
        color: $dark-mode-font-color !important;
      }
    }

    .ygtv-highlight0:hover {
      background-color: rgba(0, 0, 0, 0.08);
    }
  }

  .cs-item-icon.icon-container .studio-fa-stack-2x {
    color: $dark-mode-font-color !important;
  }

  .craftercms-logo {
    display: none !important;
  }

  #preview-tools-panel-container {
    background-color: $dark-mode-background-paper !important;
    color: $dark-mode-font-color;

    .hd, .acn-accordion-header {
      background-color: $dark-mode-background-paper !important;
      color: $dark-mode-font-color !important;
      border: none !important;

      .acn-accordion-toggle {
        color: $dark-mode-font-color !important;
      }
    }

    button, select, input {
      background-color: $dark-mode-background-paper;
      color: $dark-mode-font-color;
      border: 1px solid $dark-mode-font-color;
    }
  }

  #cstudioPreviewTargetingOverlay {
    background-color: $dark-mode-background-paper !important;
    color: $dark-mode-font-color;

    select, input {
      background-color: $dark-mode-background-paper !important;
    }

    .fa {
      color: $dark-mode-font-color !important;
    }
  }

  #status-dialog_c {
    background-color: transparent !important;
    #status-dialog {
      background-color: transparent !important;
      border: none;

      .hd, .bd, .ft, .yui-button, .yui-button span {
        color: $dark-mode-font-color;
        background-color: $dark-mode-background-paper !important;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom-color: $dark-mode-background-default-dimmed;
      }
    }
  }
}
