.cstudio-image-popup-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 32;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;

  .cstudio-image-pop-up {
    display: inline-block;
    box-sizing: content-box;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 5px 10px 10px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > div {
      text-align: right;

      .close {
        float: none;
        border: none;
        background: transparent;
        box-shadow: none;
        font-size: 20px;
        font-weight: normal;
        padding: 0;
        line-height: 12px;
        padding-bottom: 7px;
        margin-right: -4px;
        margin-top: 1px;
        opacity: 1;
        border-radius: 0;
        color: #5d5d5d;
      }
    }

    img,
    video.html-video {
      border-radius: 6px;
      max-width: 700px;
      background-color: #fff;
      max-height: calc(100vh - 160px);
    }

    video.html-video {
      max-width: 600px;
    }
  }
}
