.navbar {

  .navbar-brand {

    padding: 2px 15px;

    > img {
      width: 75px;
    }

  }

  .navbar-form[role="search"] {
    margin-top: 15px;

    #acn-searchtext {
      display: inline-block;
      height: 18px;
      /*background: url(/studio/static-assets/themes/cstudioTheme/images/icons/search-icon.png) no-repeat;
      background-size: 100% 100%;*/
      cursor: pointer;
    }
  }

  form[role="search"] {
    padding: {
      left: 5px;
      right: 5px;
    }
  }

}

.nav-container.nav-link .nav-icon{
  margin-right: 4px;
}

.nav-link .nav-icon {
  font-size: 16px;
  margin-right: 2px;
  color: #7e9dbb;
}

.nav-link .nav-label {
  display: none;
  color: #777;
}

.nav-link:hover .nav-label
{
  display: inline-block;

  -webkit-animation: fadeInFromNone 1s ease-out;
  -moz-animation: fadeInFromNone 1s ease-out;
  -o-animation: fadeInFromNone 1s ease-out;
  animation: fadeInFromNone 1s ease-out;
}

@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    display: inline-block;
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    display: inline-block;
    opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    display: inline-block;
    opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: inline-block;
    opacity: 0;
  }

  100% {
    display: inline-block;
    opacity: 1;
  }
}

#activeContentActions {
  li {
    > a {
      padding-left: 0;
      padding-right: 10px;
    }
    > .navbar-text {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}