$diff-modal-size: 350px;
$split-view-size: $diff-modal-size / 2;

.repositories {
  padding-top: 34px;

  .page-header {
    padding: 0;
    margin: 0;
    display: inline-block;
    border: none;
  }

  .repository-status-msg {
    margin: 30px 0;
  }

  .repository-status {
    .header {
      margin: 0 0 30px 0;
    }

    .header--inline {
      display: inline-block;
    }
  }

  .repositories-table {
    overflow-x: scroll;
    margin-bottom: 17px;
    border-bottom: 1px solid #ddd;
  }

  hr{
    height: 5px;
    background-color: #f2f2f2;
    margin: 5px 0 10px 0 ;
  }

  .note {
    color: #919191;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.diff-header {
  .tabs {
    .diff-tab {
      padding: 15px;
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      border: none;
      outline: 0;

      &:hover, &.active {
        color: #333;
        background-color: #f9f9f9;
      }

      &:last-child {
        border-radius: 0 6px 0 0;
      }
    }
  }
}

.diff-body {
  box-sizing: content-box;
  background-color: #f9f9f9;
  height: $diff-modal-size;
  overflow: hidden;

  .diff-container {

    .nav-tabs {
      display: none;
    }

    .tab-view {
      pre {
        border: none;
        background: inherit;
        font-size: 14px;
        height: 100%;
      }
    }

    .diff-content {
      height: 350px;
    }

    .split-content {
      .studio-version {
        padding: 0 0 15px 0;
        border-bottom: 1px solid #e5e5e5;
      }
      .remote-version {
        padding: 15px 0 0 0;
      }

      .studio-version, .remote-version {
        height: $split-view-size;
      }
    }
  }
}
