
@import "variables";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

#formContainer {

  padding: 20px 0 80px;


}

header {

  .page-header {
    margin-bottom: 5px;
    p {
      margin: 0;
    }
  }

}

#zoomCancelButton{
  position: relative;
}

// minyMCE
.mceListBoxMenu.cstudio-rteSkin{
  width: 175px !important;
  overflow: hidden !important;

  .mceListBoxMenu{
    width: 175px !important;
    overflow: auto!important;
    //overflow-x: hidden!important;

    table{
      width: 175px !important;
    }

  }

}

.panel > .table-responsive{
  min-height: 35px;
}

div.xdsoft_datetimepicker {
  font-family: "Open Sans", sans-serif;
}

@media screen and (min-width:0\0) {
  .CodeMirror .CodeMirror-lines pre.CodeMirror-cursor{
    width: 9px;
    border-width: 0px;
    border-left-width: 2px;
  }
}

#targeting-container .hint {
  display: none;
}

#targeting-container .control-container:hover .hint{
  display: block;
}

.panel-title{
  display: inline-block;
}

.cstudio-form-section-validation {
  line-height: 12px;
}


/****** RTE2 *******/

.mce-container {
  .mce-filepicker button {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .cstudio-form-control-image-picker-add-container {
    background: white;
    color: #595959;
    border: 1px solid #c5c5c5;
    
    .cstudio-form-control-image-picker-add-container-item {
      padding: 8px 15px;    
    }
  }
}

.yui-dialog,  {
  z-index: 100102 !important;
}

/*******************/


// Reset and dependencies
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/type";

// Reset and dependencies
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/component-animations";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/dropdowns";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/input-groups";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/pagination";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/pager";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/labels";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/badges";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/jumbotron";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/thumbnails";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/alerts";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/progress-bars";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/media";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/list-group";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/panels";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-embed";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/wells";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/modals";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/tooltip";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/popovers";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../../static-assets/libs/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";


body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .yui-panel.yui-overlay {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  {
  font-weight: 600;
}