{
  "jsc": {
    "target": "es2021",
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "transform": {
      "react": {
        "pragma": "craftercms.libs.React.createElement",
        "pragmaFrag": "craftercms.libs.React.Fragment"
      }
    }
  }
}
