<div class="admin-console-view col-lg-10 col-lg-offset-1">

    <header class="screen-title">
        <h1>Admin Console</h1>
    </header>

    <div class="row mt30">
        <div class="col-sm-3">
            <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
                <li ng-repeat="entity in entities" ng-class="{'active': view_tab == entity.tabName}">
                    <a class="btn-lg" ng-click="changeTab(entity.tabName, entity.id)" href=""><span class="nav-icon fa {{entity.icon}}"></span> {{entity.label}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div ng-repeat="entity in entities" class="tab-pane" ng-show="view_tab == entity.tabName">
                    <div ui-view="contentTab"></div>
                </div>
            </div>
        </div>
    </div>

</div>

