<h2 class="page-header">{{ 'admin.groups.HEADER_LABEL' | translate }}</h2>

<div class="btn-group" dropdown is-open="dropdownStatus.isopen">
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{ currentSite.name }} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li>
            <a ng-click="updateDropdown('all', 'All Sites')">All Sites</a>
        </li>
        <li ng-repeat="site in sites">
            <span class="hidden">{{site}}</span>
            <a ng-click="updateDropdown(site.siteId, site.name)">{{site.name}}</a>
        </li>
    </ul>
</div>

<div class="actions clearfix">
    <a class="btn btn-default" ng-click="createGroupDialog()" role="button" style="float: right;">{{ 'admin.groups.NEW_GROUP' | translate }}</a>
    <a class="btn btn-default" ng-click="toggleAssignUsers()" role="button" style="float: right; margin-right: 15px;">{{toggleAssignUsersLabel}}</a>
</div>

<table ng-show="!assignUsers" st-table="displayedCollection" st-safe-src="groupsCollection.groups" class="table table-striped">
    <thead>
        <tr>
            <th st-sort="id">{{ 'admin.groups.DISPLAY_NAME' | translate }}</th>
            <th st-sort="displayName">{{ 'admin.groups.DESCRIPTION' | translate }}</th>
            <th st-sort="site">{{ 'admin.groups.SITE' | translate }}</th>
            <th></th>
        </tr>
        <tr>
            <th colspan="5"><input st-search="" class="form-control" placeholder="{{ 'common.SEARCH_LABEL' | translate }}" type="text"/></th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="group in displayedCollection">
            <td>{{group.group_name}}</td>
            <td>{{group.description}}</td>
            <td>{{group.site_id}}</td>
            <td>
                <a ng-click="editGroupDialog(group)" class="btn btn-sm">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
            </td>
            <td>
                <a ng-click="removeGroup(group)" class="btn btn-sm">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </td>
    </tr>
    </tfoot>
</table>

<div ng-show="assignUsers" class="row assign-users">
    <div class="col-md-6 col-xs-6">
        <table st-table="displayedCollection2" st-safe-src="groupsCollection.groups" class="table ">
            <thead>
                <tr>
                    <th colspan="5"><input st-search="" class="form-control" placeholder="{{ 'admin.groups.SEARCH_GROUPS' | translate }}" type="text"/></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in displayedCollection2" ng-click="getUsersFromGroup(group)"
                    ng-class="{active : (activeGroup.group_name === group.group_name) && (activeGroup.site_id === group.site_id)}">
                    <td>{{group.group_name}}</td>
                    <td class="actions">
                        <a ng-click="editGroupDialog(group)" class="btn btn-sm">
                            <i class="glyphicon glyphicon-pencil">
                            </i>
                        </a>
                        <a ng-click="removeGroup(group)" class="btn btn-sm">
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <table st-table="displayedCollection3" st-safe-src="usersFromGroupCollection.users" class="table ">
            <thead>
                <tr>
                    <th colspan="5">
                        <input st-search="" class="form-control search-users" placeholder="{{ 'admin.groups.SEARCH_USERS' | translate }}" type="text"/>
                        <button ng-click="!noGroupSelected && addUserToGroupDialog()" class="add-user glyphicon glyphicon-plus"
                           tooltip="{{ !noGroupSelected && 'admin.groups.ADD_USER_TOOLTIP' | translate }}" tooltip-placement="top"></button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in displayedCollection3">
                    <td>{{user.username}}</td>
                    <td class="actions">
                        <a ng-click="removeUserFromGroup(user)" class="btn btn-sm">
                            <i class="glyphicon glyphicon-trash">
                            </i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="modalView.html">
    <div class="modal-header">
        <h3 class="modal-title">{{dialogTitle}}</h3>
    </div>
    <div class="modal-body clearfix">
        <form name="createNameForm" novalidate class="col-md-12 ng-dirty ng-invalid ng-invalid-required">
            <div class="form-group">
                <label for="identifier" class="control-label">{{ 'admin.groups.DISPLAY_NAME' | translate }}</label>
                <input type="text" class="form-control" id="identifier" name="identifier" ng-model="group.group_name" ng-change="" required>

                <div class="error-container"
                     ng-show="(createNameForm.identifier.$dirty && createNameForm.identifier.$invalid) || (createNameForm.identifier.$touched && createNameForm.identifier.$invalid)">
                    <small class="error"
                           ng-show="createNameForm.identifier.$error.required">
                        {{ 'admin.groups.GROUP_ID_ERROR_MESSAGE' | translate }}
                    </small>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="control-label">{{ 'admin.groups.DESCRIPTION' | translate }}</label>
                <input type="text" class="form-control" id="description" name="description" ng-model="group.description" ng-change="" required>

                <div class="error-container"
                     ng-show="(createNameForm.description.$dirty && createNameForm.description.$invalid) || (createNameForm.description.$touched && createNameForm.description.$invalid)">
                    <small class="error"
                           ng-show="createNameForm.description.$error.required">
                        {{ 'admin.groups.GROUP_DESCRIPTION_ERROR_MESSAGE' | translate }}
                    </small>
                </div>
            </div>

            <div class="form-group">
                <label for="site" class="control-label">{{ 'admin.groups.SITE' | translate }}</label>

                <select class="form-control"
                        id="site"
                        ng-options="site.siteId as site.name for site in sites"
                        ng-model="group.site_id"
                        required></select>

                <div class="error-container"
                     ng-show="(createNameForm.site.$dirty && createNameForm.site.$invalid) || (createNameForm.site.$touched && createNameForm.site.$invalid)">
                    <small class="error"
                           ng-show="createNameForm.site.$error.required">
                        {{ 'admin.groups.GROUP_ID_ERROR_MESSAGE' | translate }}
                    </small>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary text-capitalize"
                ng-click="okModalFunction(group)" ng-disabled="createNameForm.$invalid">{{dialogMode}}</button>
        <button class="btn" ng-click="hideModal()">{{ 'common.CANCEL_LABEL' | translate }}</button>
    </div>
</script>

<script type="text/ng-template" id="addUsersView.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'admin.groups.ADD_USERS' | translate }}</h3>
    </div>

    <div class="modal-body">
        <table st-table="displayedCollection3" st-safe-src="usersCollection.users" class="table add-users-table">
            <thead>
            <tr>
                <th colspan="5">
                    <input st-search="" class="form-control search-users" placeholder="{{ 'admin.groups.SEARCH_USERS' | translate }}" type="text"/>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in displayedCollection3">
                    <td>{{user.username}}</td>
                    <td style="text-align: right;"><a ng-click="addUserToGroup(user)">{{ 'common.ADD_LABEL' | translate }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button class="btn" ng-click="hideModal()">{{ 'common.CLOSE_LABEL' | translate }}</button>
    </div>
</script>

<script type="text/ng-template" id="creatingGroupConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">Creating Group</h3>         <!-- TODO: pending display current action & translate -->
    </div>
    <div class="modal-body">
        <img class="creatingSpinner" src="/studio/static-assets/img/spinner_tra.gif" />
    </div>
</script>