<div class="container-fluid admin-view">
    <div class="row full">
        <div class="col-md-12 ">
            <header class="screen-title"><h1>Admin Tools</h1></header>
        </div>
        <div id="admin-sidebar" class="col-md-3">
            <div class="sidebar-container">
                <h3>Users and Groups</h3>
                <ul class="nav nav-pills nav-stacked">
                    <!--<li>Users and Groups</li>-->
                    <li ng-class="{ 'active': $state.$current.name === 'home.admin.groups' }">
                        <a ui-sref="home.admin.groups" href="#/admin/groups">{{ 'admin.groups.HEADER_LABEL' | translate }}</a>
                    </li>
                    <li ng-class="{ 'active': $state.$current.name === 'home.admin.users' }">
                        <a ui-sref="home.admin.users" href="#/admin/users">{{ 'admin.users.HEADER_LABEL' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="main" class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="confirmationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        {{ confirmationText }}
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="confirmationAction(); hideModal()">{{ 'common.YES' | translate }}</button>
        <button class="btn" ng-click="hideModal()">{{ 'common.NO' | translate }}</button>
    </div>
</script>

<script type="text/ng-template" id="notificationModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Notification</h3>
    </div>
    <div class="modal-body">
        <h4><span class="glyphicon glyphicon-{{ notificationType }}" style="color: #CE021F;"></span> {{ notificationText }} </h4>
    </div>
</script>