<div class="mainContainer">
  <div class="mb20" style="display: flex; place-content: center space-between">
    <header class="screen-title mb10">
      <h1>{{ messages.title }}</h1>
    </header>

    <div>
      <button class="btn btn-default" ng-click="sample()" ng-disabled="!uiEnabled">
        {{ messages.viewSample }}
      </button>
    </div>
  </div>

  <div class="form-group" ng-style="{ opacity: uiEnabled ? 1 : 0.4 }">
    <div
      id="globalConfigAceEditor"
      style="
        min-height: 400px;
        height: calc(100vh - 350px);
        box-shadow: 0 0 5px rgba(0, 0, 0, .25);"
    ></div>
  </div>
  <div class="form-group">
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-primary" id="globalConfigSaveButton" ng-disabled="!uiEnabled" ng-disabled="disabled"
              type="button" uib-dropdown-toggle>
        {{ messages.save }}
      </button>
      <ul aria-labelledby="globalConfigSaveButton" class="dropdown-menu" role="menu" style="top: -150%"
          uib-dropdown-menu>
        <li role="menuitem"><a ng-click="save()">{{ messages.confirmSave }}</a></li>
        <li role="menuitem"><a>{{ messages.cancel }}</a></li>
      </ul>
    </div>
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-default" ng-disabled="!uiEnabled" ng-disabled="disabled" type="button" uib-dropdown-toggle>
        {{ messages.reset }}
      </button>
      <ul class="dropdown-menu" role="menu" style="top: -150%" uib-dropdown-menu>
        <li role="menuitem"><a ng-click="reset()">{{ messages.confirmReset }}</a></li>
        <li role="menuitem"><a>{{ messages.cancel }}</a></li>
      </ul>
    </div>
  </div>
</div>

<script type="text/ng-template" id="sampleModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{ messages.sampleFile }}</h3>
  </div>
  <div class="modal-body">
    <div id="sampleFileEditor" style="height: 500px"></div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-default mr10" type="button" ng-click="$ctrl.cancel()">{{ messages.close }}</button>
      <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
        {{ messages.useSampleContent }}
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu">
        <li role="menuitem"><a ng-click="$ctrl.use('replace')">{{ messages.replaceContent }}</a></li>
        <li role="menuitem"><a ng-click="$ctrl.use('append')">{{ messages.appendContent }}</a></li>
        <li role="menuitem"><a>{{ messages.cancel }}</a></li>
      </ul>
    </div>
  </div>
</script>

<script type="text/ng-template" id="confirmationModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{ confirmationTitle }}</h3>
  </div>
  <div class="modal-body">
    {{ confirmationText }}
  </div>
  <div class="modal-footer">
    <button class="btn" ng-disabled="confirmationSubmitDisabled" ng-click="confirmationAction(); hideModal()">{{ messages.yes }}</button>
    <button class="btn" ng-click="hideModal()">{{ messages.no }}</button>
  </div>
</script>
