<div id="global-config-view"></div>

<script type="text/ng-template" id="confirmationModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{ confirmationTitle }}</h3>
  </div>
  <div class="modal-body">
    {{ confirmationText }}
  </div>
  <div class="modal-footer">
    <button class="btn" ng-disabled="confirmationSubmitDisabled" ng-click="confirmationAction(); hideModal()">{{ messages.yes }}</button>
    <button class="btn" ng-click="hideModal()">{{ messages.no }}</button>
  </div>
</script>
