<div class='ccms-iewarning'>Your browser is currently not supported, please use <a style='color: #24ddff;' target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html">Chrome</a> or <a style='color: #24ddff;' target="_blank" href="https://www.mozilla.org/en-US/firefox/new/?scene=2">Firefox</a>.</div>

<header class="{{ isIframeClass }}">
    <nav class="navbar navbar-default navbar-static-top cstudio-navbar" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{ 'dashboard.sites.TOGGLE_NAV' | translate }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home.sites">
                    <img id="crafter-studio-logo" ng-src="{{crafterLogo}}" alt="Crafter Studio"/>
                </a>
            </div>

            <div ng-if="authenticated" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="createSites" ui-sref-active="active">
                        <a id="homeUsers" class="nav-link" ui-sref="home.users" ng-mouseover="mouseOverTopMenu($event)" ng-mouseleave="mouseLeaveTopMenu($event)">
                            <span class="nav-icon fa fa-users"></span>
                            <span class="nav-label">{{ 'admin.users.HEADER_LABEL' | translate }}</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a id="homeSites" class="nav-link" ui-sref="home.sites" ng-mouseover="mouseOverTopMenu($event)" ng-mouseleave="mouseLeaveTopMenu($event)">
                            <span class="nav-icon fa fa-sitemap"></span>
                            <span class="nav-label">{{ 'dashboard.sites.SITES_LABEL' | translate }}</span>
                        </a>
                    </li>
                    <li id="help-dropdown" class="dropdown" dropdown>
                        <a class="nav-link dropdown-toggle" dropdown-toggle ng-mouseover="mouseOverTopMenu($event)" ng-mouseleave="mouseLeaveTopMenu($event)">
                            <span class="nav-icon fa fa-life-ring"></span>
                            <span class="nav-label">
                                {{ 'common.HELP' | translate }} <span class="caret"></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="documentation" href="{{helpUrl}}" target="_blank">{{ 'common.DOCUMENTATION' | translate }}</a></li>
                            <li><a class="about" ui-sref-active="active" ui-sref="home.about-us" >{{ 'common.ABOUT' | translate }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" dropdown>
                        <a id="account-dropdown" class="dropdown-toggle" dropdown-toggle>{{user.username}} <span class="caret"></span></a>
                        <ul id="account-dropdown-container" class="dropdown-menu" role="menu">
                            <li class="user-display">
                                <div class="first-name" ng-if="user.first_name">{{user.first_name}} {{user.last_name}}</div>
                                <div class="name" ng-if="user.name">{{user.last_name}} {{user.name}} {{user.surname}}</div>
                                <div class="email">{{user.email}}</div>
                            </li>
                            <li><a class="settings" ui-sref-active="active" ui-sref="home.settings">{{ 'common.SETTINGS' | translate }}</a></li>
                            <li><a class="sign-out" ng-click="logout()">{{ 'common.SIGN_OUT' | translate }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<section id="container" ui-view="content"></section>



<script type="text/ng-template" id="reLoginModal.html">
    <!-- <div class="modal-header">
        <h3 class="modal-title">Notification</h3>
    </div> -->
    <div class="modal-body">
        <div class="contentTypePopupHeader loginHeader">
            <img src="/studio/static-assets/images/crafter_studio_360.png" alt="Crafter Studio" id="crafterLogo">
        </div> 

        <form id="login_form">
            <p class="subtitleErr">Your session has expired due to inactivity</p>
            <div class="contentTypeOuter">
                <div class="form-group">
                    <label for="username">Email/Username</label>
                    <input type="text" name="username" id="username" placeholder="john@example.com" value="{{user.username}}" disabled="">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="pass" id="password" ng-model="user.reLoginPass" autofocus="">
                </div>
                <div id="error-message" class="alert alert-danger" ng-if="reLoginError">
                    {{reLoginError.message}}
                </div>
            </div>
            <div class="contentTypePopupBtn"> 
                <input type="submit" class="btn btn-primary cstudio-xform-button" ng-click="reLogin()" id="loginButton" value="Sign in to continue working">
                <input type="button" class="btn btn-default cstudio-xform-button" ng-click="reLoginSignOut()" id="loginCancelButton" value="I'm done, signout">
            </div>
        </form>

    </div> 

    
</script>
