<div class="log-console-view mainContainer">
    <header class="screen-title mb25">
        <h1>{{ 'admin.logconsole.HEADER_LABEL' | translate }}</h1>
        <div class="actions" style="float: right;">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="logs.togglePlayPause()">
                    <i ng-class="(logs.running) ? 'fa fa-pause': 'fa fa-play'" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-default"
                        ng-click="logs.clearLogs()">{{ 'admin.logconsole.CLEAR' | translate }}</button>
            </div>

        </div>
    </header>

    <div class="logs {{logs.logType}}" id="logConsoleContainer">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'admin.logconsole.LEVEL' | translate }}</th>
                    <th>{{ 'admin.logconsole.TIMESTAMP' | translate }}</th>
                    <th>{{ 'admin.logconsole.THREAD' | translate }}</th>
                    <th>{{ 'admin.logconsole.SITE' | translate }}</th>
                    <th>{{ 'admin.logconsole.MESSAGE' | translate }}</th>
                    <th>{{ 'admin.logconsole.DETAILS' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="log" ng-repeat="log in logs.entries">
                    <td class="level">{{log.level}}</td>
                    <td class="timestamp">{{log.timestamp}}</td>
                    <td class="thread">{{log.thread}}</td>
                    <td class="site">{{log.site}}</td>
                    <td class="message">{{ log.message.length > 200 ? ((log.message | limitTo:200) + "...") : log.message }}</td>
                    <td class="details"><i class="fa fa-eye details-icon" tooltip-placement="bottom" uib-tooltip="{{ 'admin.logconsole.DETAILS' | translate }}" aria-label="{{ 'admin.logconsole.DETAILS' | translate }}" ng-click="logs.logDetails(log)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
