<div class="sites-view">

    <header class="screen-title">
        <h1>{{ 'dashboard.sites.SITES_LABEL' | translate }}</h1>
    </header>

    <div ng-if="sites">
        <div class="nav-panel">

            <div ng-show="createSites" class="m10">
                <button class="btn btn-default btn-pill btn-block" ng-click="createSitesDialog()" ng-class="{ active: $state.includes('create') }">
                        <!-- ui-sref="home.sites.create" -->
                    <i class="glyphicon glyphicon-plus"></i> <span>{{ 'dashboard.sites.CREATE_SITE' | translate }}</span>
                </button>
            </div>

            <div class="list-group">
                <a class="list-group-item" ui-sref="home.sites"
                   ng-class="{ 'active': $state.$current.name === 'home.sites' }">
                    {{ 'common.ALL_LABEL' | translate }}
                </a>
                <!--a class="list-group-item"
                   ui-sref="home.sites.site({ siteId: {{site.id}} })"
                   ui-sref-active="active"
                   ng-repeat="site in sites">
                    {{site.name}}
                </a-->
            </div>

        </div>
        <div class="action-area" ui-view>
            <table class="site-list table table-hover">
                <thead>
                <tr>
                    <th>{{ 'dashboard.sites.SITE_NAME' | translate }}</th>
                    <th><span class="sr-only">{{ 'dashboard.sites.SITE_DASHBOARD_LINK' | translate }}</span></th>
                    <th><span class="sr-only">{{ 'dashboard.sites.PREVIEW_LINK' | translate }}</span></th>
                    <th><span class="sr-only">{{ 'dashboard.sites.LIVE_SITE_LINK' | translate }}</span></th>
                    <th><span class="sr-only">{{ 'common.REMOVE_LABEL' | translate }}</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="site in sites">
                    <td align="center">{{site.name}}</td>
                    <td align="center"><a ng-click="editSite(site)">{{ 'dashboard.sites.PREVIEW' | translate }} &raquo;</a></td>
                    <td align="center"><a ng-click="goToDashboard(site)">{{ 'dashboard.sites.DASHBOARD' | translate }} &raquo;</a></td>
                    <td align="center" class="site-description">{{site.description}}</td>
                    <td align="center"><a ng-show="site.remove" ng-click="removeSiteSites(site)"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script type="text/ng-template" id="removeConfirmation.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'common.CONFIRMATION' | translate }}</h3>
    </div>
    <div class="modal-body">
        <p>{{ 'dashboard.sites.REMOVE_SITE_CONFIRMATION_MSG' | translate }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">{{ 'common.YES' | translate }}</button>
        <button class="btn btn-default" ng-click="cancel()">{{ 'common.NO' | translate }}</button>
    </div>
</script>

<script type="text/ng-template" id="invalidSite.html">
    <div class="modal-header">
        <h3 class="modal-title">{{ 'common.NOTIFICATION' | translate }}</h3>
    </div>
    <div class="modal-body">
        <p>"{{siteValidation}}" {{ 'dashboard.sites.SITE_ERROR' | translate }}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">{{ 'common.CANCEL' | translate }}</button>
    </div>
</script>
