/* open-sans-300 - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   src: url('fonts/open-sans/open-sans-v14-latin-300.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Light'), local('OpenSans-Light'),
   url('fonts/open-sans/open-sans-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-300.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: url('fonts/open-sans/open-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Regular'), local('OpenSans-Regular'),
   url('fonts/open-sans/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-300italic - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 300;
   src: url('fonts/open-sans/open-sans-v14-latin-300italic.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
   url('fonts/open-sans/open-sans-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-300italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 400;
   src: url('fonts/open-sans/open-sans-v14-latin-italic.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Italic'), local('OpenSans-Italic'),
   url('fonts/open-sans/open-sans-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   src: url('fonts/open-sans/open-sans-v14-latin-600.eot'); /* IE9 Compat Modes */
   src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
   url('fonts/open-sans/open-sans-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-600.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 600;
   src: url('fonts/open-sans/open-sans-v14-latin-600italic.eot'); /* IE9 Compat Modes */
   src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
   url('fonts/open-sans/open-sans-v14-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-600italic.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: url('fonts/open-sans/open-sans-v14-latin-700.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Bold'), local('OpenSans-Bold'),
   url('fonts/open-sans/open-sans-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-700.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 800;
   src: url('fonts/open-sans/open-sans-v14-latin-800.eot'); /* IE9 Compat Modes */
   src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
   url('fonts/open-sans/open-sans-v14-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-800.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700italic - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 700;
   src: url('fonts/open-sans/open-sans-v14-latin-700italic.eot'); /* IE9 Compat Modes */
   src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
   url('fonts/open-sans/open-sans-v14-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-700italic.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-700italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 800;
   src: url('fonts/open-sans/open-sans-v14-latin-800italic.eot'); /* IE9 Compat Modes */
   src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
   url('fonts/open-sans/open-sans-v14-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
   url('fonts/open-sans/open-sans-v14-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-800italic.woff') format('woff'), /* Modern Browsers */
   url('fonts/open-sans/open-sans-v14-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
   url('fonts/open-sans/open-sans-v14-latin-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* Sticky Footer */
* {
   margin: 0;
}

html, body {
   height: 100%;
}

#bd {
   padding: 18px 30px 30px 30px;
}

.sticky-wrapper {
   padding-top: 50px;
}

.sticky-footer, .sticky-push {
   height: 50px;
   margin: 0 0 71px;
}

/* Site-wide Styles */

#crafter-yuiloader {
   display: none;
   height: 0;
   line-height: 0;
}

.caret-fix {
   overflow-x: auto;
}

.clear {
   clear: both;
   display: block;
   height: 1px;
   overflow: hidden;
   margin: 0;
   padding: 0;
}

p {
   padding-top: 10px;
   padding-bottom: 3px;
}

hr {
   height: 1px;
   margin-top: 5px;
   margin-bottom: 8px;
   border: 0;
   width: 100%;
}

.yui-skin-cstudioTheme .yui-panel .ft span.button-group {
   text-align: center;
   vertical-align: middle;
}

.yui-skin-cstudioTheme .yui-panel .bd {
   padding: 0;
   text-align: left;
}

.yui-skin-cstudioTheme .yui-panel .yui-g h2,
.yui-skin-cstudioTheme .yui-panel .bd div.yui-gd,
.yui-skin-cstudioTheme .yui-panel .bd div.yui-u,
.yui-skin-cstudioTheme .yui-panel .bd div.bdft {
   padding: 0.3em;
}

.yui-skin-cstudioTheme .yui-panel .yui-gd .yui-u {
   width: 60%;
}

.yui-skin-cstudioTheme .yui-panel .yui-gd .yui-u.first {
   width: 28%;
}

.yui-skin-cstudioTheme .yui-panel .hd,
.yui-skin-cstudioTheme .yui-panel .bdft,
.yui-skin-cstudioTheme .yui-panel .ft {
   text-align: center;
}

/* Style the cstudioTheme message  */

.yui-skin-cstudioTheme #message {
   border: medium none;
}

.yui-skin-cstudioTheme #message .bd {
   padding: 2em;
}

.yui-skin-cstudioTheme #message .bd span.wait {
   padding: 4px 0 0 24px;
   visibility: visible;
}

/* Style the cstudioTheme prompt */

.yui-skin-cstudioTheme #prompt .hd {
   border-bottom: medium none;
}

.yui-skin-cstudioTheme #prompt .bd {
   padding: 1em;
   text-align: center;
}

.yui-skin-cstudioTheme #prompt .ft .button-group {
   display: block;
   padding-top: 0.5em;
   text-align: center;
}

.yui-skin-cstudioTheme #prompt .ft {
   border-top: none;
}

/* Page title and navigation styles */

.page-title {
   clear: left;
   margin: 0px -10px;
   min-height: 2em;
   padding: 6px 10px;
}

.page-title div.title {
   float: left;
   padding-top: 2px;
}

.page-title div.links {
   float: right;
   min-width: 36em;
   text-align: right;
}

.page-title h1 {
   display: inline;
}

.site-navigation {
   clear: left;
   margin: 0 -10px;
   min-height: 1em;
   padding: 5px 0 7px;
}

span.navigation-separator,
span.navigation-item,
span.navigation-item-alt {
   vertical-align: middle;
   margin: 0px;
}

span.navigation-item,
span.navigation-item-alt {
   padding: 0 0 0 6px;
}

span.navigation-item a,
span.navigation-item a:visited {
   padding: 3px 4px;
}

span.navigation-item a.active-page,
span.navigation-item a.active-page:visited,
span.navigation-item a:hover {
   text-decoration: none;
}

span.navigation-separator {
   margin-right: 6px;
   padding-left: 8px;
   text-align: center;
}

span.navigation-separator-alt {
   padding: 0px 0px 0px 10px;
   text-align: center;
}

/* Standard toolbar separator */

.toolbar .separator {
   margin: 4px 10px 0 0;
   padding: 2px 0 0 4px;
}

/**
 * Replace cstudioTheme styles for HTML content
 */
.rich-content sub {
   vertical-align: sub;
}

.rich-content sup {
   vertical-align: super;
}

.rich-content ul,
.rich-content ol {
   padding: 1em;
}

.rich-content ul li {
   list-style-type: disc;
   list-style-position: inside;
}

.rich-content ol li {
   list-style-type: decimal;
   list-style-position: inside;
}

.rich-content th,
.rich-content td {
   padding: 0.2em;
}

.draggable {
   cursor: move;
}

.drag {
   cursor: move;
}

.dropInvalid {
   cursor: no-drop;
}

.dropValid {
   cursor: pointer;
}

.cstudio-form-controls-container{
    background: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    height: 50px;
    bottom: 0;
    position: fixed;
    width: 100%;
    /*z-index: 45;*/
    padding: 10px 0 0;
    transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    -o-transition: background-color .5s ease-in-out;
}

/* DataTable overrides */
.yui-skin-cstudioTheme .yui-dt tr.yui-dt-first td {
   border-top: medium none;
}

/* Richtext Editor Plug-ins */
.yui-toolbar-container .yui-toolbar-crafter-imagelib span.yui-toolbar-icon {
   left: 6px;
}

.yui-skin-cstudioTheme .flat-button a:hover {
   text-decoration: none;
}

.yui-skin-cstudioTheme .title-button .yui-button span a {
   white-space: nowrap;
}

/* A combination of a link and splitbutton wrapped inside a span */

.yui-skin-cstudioTheme .link-menu-button {
   padding-bottom: 4px;
   padding-top: 2px;
   vertical-align: middle;
   border: 1px solid transparent;
}

.yui-skin-cstudioTheme .link-menu-button .yui-menu-button,
.yui-skin-cstudioTheme .link-menu-button .yui-menu-button span,
.yui-skin-cstudioTheme .link-menu-button .yui-menu-button span button {
   margin: 0;
   padding: 0;
   vertical-align: middle;
}

.yui-skin-cstudioTheme .link-menu-button .yui-menu-button {
   border: 1px solid transparent;
   background-image: none;
   /*margin-top:3px;*/
}

.yui-skin-cstudioTheme .link-menu-button .yui-menu-button span button {
   padding: 6px 7px;
   /*
   width: 20px;
   */
}

.yui-skin-cstudioTheme .link-menu-button .yui-menu-button.yui-menu-button-activeoption button,
.yui-skin-cstudioTheme .link-menu-button .yui-menu-button.yui-menu-button-hover button {
   text-decoration: none;
}

.cstudio-rte-add-component div[role="listbox"]{
    max-height: calc(80vh - 68px ) !important;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #D4D0C8;
    background: white;
}

.cstudio-rte-add-component div[role="presentation"]{
    border: none;
}

.cstudio-rte-add-component .mceMenu table tr{
    white-space: nowrap;
}
.cstudio-rte-add-component div[role="listbox"]::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.cstudio-rte-add-component div[role="listbox"]::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
